@font-face {
  font-family: 'Open sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open sans'), url('opensans.woff');
}

body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/sky.png) 0 0 repeat-x rgb(238, 238, 238);
  font-family: Georgia, serif;
  text-align: center;
}

h1, h2, h3{
  color: rgb(72,72,72);
  font-family: 'Open sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 300%;
}

form {
  padding-top: 10px;
}

button {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -moz-border-radius: .25em;
  border-radius: .25em;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
  background-color: #3c88cc;
  background-color: #276195;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear,left top,left bottom,from(#3c88cc),to(#276195));
  background-image: -moz-linear-gradient(#3c88cc,#276195);
  background-image: -ms-linear-gradient(#3c88cc,#276195);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3c88cc),color-stop(100%,#276195));
  background-image: -webkit-linear-gradient(#3c88cc,#276195);
  background-image: -o-linear-gradient(#3c88cc,#276195);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc', endColorstr='#276195', GradientType=0)";
  background-image: linear-gradient(#3c88cc,#276195);
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  min-width: 100px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  font-family: 'Open Sans',sans-serif;
  -webkit-transition: all linear .25s;
  -moz-transition: all linear .25s;
  -o-transition: all linear .25s;
  -ms-transition: all linear .25s;
  transition: all linear .25s
  cursor: pointer;
}

.error {
  color: red;
}

.left {
  text-align: justify;
}

.criteria {
  margin: 5px;
  padding: 5px;
  border: 1px solid brown;
  text-align: justify;
}

.criteria img {
  vertical-align: top;
  padding-right: 5px;
}
